span{
    text-decoration: underline;
}
.frame{
    display: flex;
    flex-direction: row; 
    justify-content: space-evenly;
    position: absolute;
    height: 100%;
    background-color: #000000;
    
}
.coluna{
    display: flex;
    flex-direction: column;
    align-items: stretch;
    width: 33%;
    align-items: center;
}
.coluna.esquerda{
    background-color:#a33e08;  
}
.coluna.meio{
    background-color:#155703;
}
.coluna.direita{
    background-color: #8a0404;
}
.titulo_coluna{
    margin-top: 2rem;
    font-size: 4rem;
    font-family: 'Bitter', serif;
    color: #000000;
    text-decoration: none;
}
.corpo{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 80%;
    align-items: stretch;
}

.item{
    background-color: #ffffff;
    margin: 2rem;
    border-radius: 10px;
    height: 25%;
    width: 90%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
}
.esq{
    background-color: #c78e77;
}
.me{
    background-color: #77c784;

}
.dir{
    background-color: #bf7a7a;
}
.texto{
    font-family: 'Heebo', sans-serif;
    font-size: 2rem;
    margin-left: 1rem;
    /* margin-top: 1rem; */
}
.btn{
    /* background-color: #c78e77; */
    font-family: 'Heebo', sans-serif;
    font-size: 2rem;

}